@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p>This is Activity 2 where I created a simple C# MVC (Frontend) website of my choice.</p>
    <p>The website must have at least three (3) .cshtml pages that can be navigated. The CSHTML are:</p>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Home</td>
                <td>Lists of all CSHTML pages</td>
                
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>List</td>
                <td>Where you can view what you have added</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Created or Edit Lists</td>
                <td>Where you can add titles for the List page</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Studio Ghibli</td>
                <td>List of my favourite studio ghibli movies</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Privacy</td>
                <td>Privacy policy</td>
            </tr>
        </tbody>
    </table>

</div>
